---
// Shipping Banner Component
---

<div class="bg-boho-pink text-white text-center py-2 text-sm font-medium">
  <div class="max-w-7xl mx-auto px-4">
    <i class="fas fa-truck mr-2"></i>
    Versandkostenfrei ab einem Bestellwert von 39,90 €
  </div>
</div>
